/* COMMON */

body {
    height: 3000px;
}

img {
    display: block;
}

body  { font-family: 'NanumBarunGothic', sans-serif; }

/* HEADER */

header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    position: absolute;
    top: 40px;
    margin: 0 auto;
}

header img#logo {
    cursor: pointer;
    margin: auto 0;
    /* margin-top: 45px; */
}

/* 로고 아래 가운데 메뉴 */

.header--primary {
    position: relative;
    display: flex;
    align-items: center;
    height: 400px;
}

.menu {
    /* 넘치는 부분 숨김 */
    overflow: hidden;
}

.menu a {
    float: left;
    text-align: center;
    font-size: 16px;
    /* 밑줄 제거 */
    text-decoration: none;
    padding: 14px 16px;
    color: #000;

}

.menu a:hover {
    color: #f00;
}

/* MAIN */

main {
    min-height: 700px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .home_content {
    width: 1080px;
    margin: auto;
    display: grid;
}

main .home_content .border {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
    font-size: 20px;
}


/* FOOTER */

ul {
    margin: 0;
    padding: 0;
}

footer {
    width: 1080px;
    height: 310px;
    margin: auto;
    padding: 0 8px 0 8px;
    display: flex;
    flex-direction: column;
    font-size:13px;
    align-items: center;
}

footer .bottom {
    flex: 50;
    padding-top: 20px;
    font-size: 13px;
    color: #747474;
}

footer .bottom ul > li {
    display: inline-block;
    font-size: 13px;
    color: #747474;
}